@use "../base/variables" as *;
@use "logo";
@use "form";
@use "resultats.scss";
@use "footer.scss";


/*Ecran supérieur a 768px Tablette*/
@media (min-width: 768px){
    .container{
        width: 50%;
    }
    main{
        justify-content: center;
        align-items: center;
    }
    .resultats{
        &__montant{
            font-size: $fontSize*2;
            margin-top: -0.9rem;
        }
        .btn-reset{
            margin-bottom: 0.5rem;
        }
    }

}

/*Ecran supérieur a 1024px Desktop*/
@media (min-width:1024px) {
    .logo{
        margin: 0.7rem 0 .3rem 0;
    }
    .container{
        width: 75%!important;
    }
    .formulaire{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .choix-pourcentage{
            &__grid {
                grid-template-columns: repeat(3,1fr);
            }
        }
        .champ-personnes{
            &__erreur{
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .resultats{
        width: 70%;
        height: 25rem;
        margin-left: 1rem;
        justify-content: space-between;
        .btn-reset{
            margin-bottom: 1rem;
        }
        &__total{
            margin-top: -10rem;
        }
        &__montant{
            font-size: $fontSize*3;
            margin-top: -0.9rem;
        }
    }
}