@use "../base/variables" as *;

.resultats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: $Green-900;
    padding: 1rem;
    width: 92%;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    &__text{
        color: $White;
        font-size: 85%;
    }
    &__unit{
        font-size: 1rem;
        color: $Grey-400;
    }
    &__total, 
    &__pourboire{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem;
    }
    .btn-reset{
        font-weight: $fontWeight;
        color: $Green-900;
        padding: 0.6rem;
        background-color: rgba($color: $Green-400, $alpha: .2);
        border: none;
        border-radius: 0.3rem;
        width: 90%;
        margin-top: 1rem;
        align-self: center;
        &.actif{
            background-color: hsl(172, 67%, 45%);
            opacity: 1;
            cursor: pointer;
            &:hover{
                background-color: $Grey-200;
            }
        }
    }
    &__montant{
        font-size: $fontSize*1.6;
        color: $Green-400;
    }
}